body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container1 {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px; /* Adjust logo size */
}

h1, h2, p {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
Link {
   text-decoration: none;
}
/* Centering the button */
.button-container {
    display: flex;
    justify-content: center;  /* Horizontally center the button */
    margin-top: 20px; /* Optional: Adds space above the button */
}

.button {
    width: 100%;
    max-width: 100px;  /* Adjust this value to control the button width */
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}

.button:hover {
    background-color: #4b8056;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
